$text-gray: #212121;
$blue-light: #BDEBFA;
$blue-darker: #96DEF6;
$blue-dark: #2D9CDB;

$breakpoint-md: 1000px;
$breakpoint-sm : 650px;


body {
  background: $blue-darker;
}


nav.main{


  ul li a{
    color: $text-gray;
  }

  .brand-logo{
    @media (max-width: 600px) {
      font-size: 18px;
    }
    @media (max-width: 400px){
      font-size: 15px;
    }
  }

}

.content{
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

.header{
  margin-top: 25vh;
  text-align: center;

  @media (max-width: $breakpoint-md){
    margin-top: 18vh;
  }
  @media (max-width: $breakpoint-sm){
    margin-top: 15vh;
  }

  h1{
    color: white;
    font-size: 75px;
    margin-bottom: 0;

    @media (max-width: $breakpoint-md){
      font-size: 50px;
    }
  }
  h2{
    color: white;
    font-size: 40px;
    margin-top: 5px;

    @media (max-width: $breakpoint-md){
      font-size: 25px;
    }
  }

  .links{
    margin-top: 6em;
  }

  ul{
    li{
      display: inline-block;
      margin-top: 0.7em;
      a{
        padding: 8px 1em 8px 8px;
        color: $blue-dark;
        font-size: 20px;

        @media (max-width: $breakpoint-md){
          font-size: 16px;
        }
      }
    }

    @media (max-width: $breakpoint-sm){
      margin-top: 2em;
      width: 100%;
      li{
        display: block;
        text-align: center;
        a{
          padding: 16px;
          margin-right: 0;
          margin-top: 10px;
          margin-left: -16px;
        }
      }
    }
  }
}

.quote{
  color: white;
  font-size: 24px;
  margin-top: 15vh;
}

.backgrounds{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .background{
    background: $blue-darker;
    width: 150vw;
    height: 35em;
    transform: rotate(15deg);
    margin-left: -25vw;
    margin-right: -25vw;

    @media (max-width: $breakpoint-md){
      margin-left: -20vw;
      margin-right: -20vw;
      height: 30em;
    }

    &:nth-child(2n){
      background: $blue-light!important;
      transform: rotate(-15deg);
    }
  }
}

.card-title {
  font-size: 30px;
  color: $text-gray;
  margin-bottom: 0.4em;
}

.content-main{
  height: auto;


}

.about{
  .text{
    line-height: 1.75;
  }
}

.logo{
  display: flex;
  align-items: center;
  img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    @media (max-width: $breakpoint-md){
      width: 65%;
      height: 65%;
    }
  }
}

.row-margin{
  margin-top: 3.5em;
}


.trainings{
  .title-row{
    width: 100%;
  }

  table td{
    vertical-align: top;
  }
}

.trainer{
  .card-title{
    margin-top: 0;
  }

  .card-image{
    width: 320px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trainer-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;

    &.christin{
      background-image: url("../img/Christin_1.png");
    }
    &.udo{
      background-image: url("../img/Udo_2.jpeg");
    }
    &.silvio{
      background-image: url("../img/silvio_1.jpeg")
    }
  }
}

#kontakt{
  .text{
    span{
      display: block;
      line-height: 28px;
      font-size: 17px;
    }
  }
}

.margin-on-md{
  @media(max-width: $breakpoint-md){
    margin-top: 2.5em;
    display: block;
  }
}

.padding-left{
  padding-left: 15px;
}


